<!-- 
<li class="{% if activecls == 'currencydetailadmin'%} active {% endif %} treeview">
          <a href="#">
            <i class="fa fa-money"></i> <span>Currency Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% url 'trade_currency:currencylist' %}"><i class="fa fa-money"></i> Currency </a></li>
             <li><a href="{% url 'trade_currency:tradepairlist' %}"><i class="fa fa-money"></i> Pairs </a></li>
             
          </ul> 
               </li>
         -->