{% extends 'default_theme/base/__base.html' %}

{% load staticfiles %} 

{% load form_custom %}


{% block Style_sheets %}

{% endblock Style_sheets %}
{% load widget_tweaks %}

 {% block Content_Area %}
 <script 
  src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js" 
  integrity="sha512-5erpERW8MxcHDF7Xea9eBQPiRtxbse70pFcaHJuOhdEBQeAxGQjUwgJbuBDWve+xP/u5IoJbKjyJk50qCnMD7A==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer"></script> 
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
 <script src="{% static 'admin_assets/js/Djacss.js' %}"></script>
 <link rel="stylesheet"  href="{% static  './lobibox/css/bootstrap.css.map'  %}">
 <link rel="stylesheet"  href="{% static  './lobibox/css/lobibox.css'  %}">
 <link rel="stylesheet"  href="{% static  './lobibox/css/lobibox.min.css'  %}">
 <link rel="stylesheet"  href="{% static  './lobibox/css/lobibox.min.css'  %}">
 <script src="{% static './lobibox/js/lobibox.js' %}"></script>
 <script src="{% static './lobibox/js/lobibox.min.js' %}"></script>
 <script src="{% static './lobibox/js/messageboxes.min.js' %}"></script>
 <script src="{% static './lobibox/js/notifications.min.js' %}"></script>
 <script src="{% static './lobibox/js/notifications.js' %}"></script>
 <script src="{% static './lobibox/js/messageboxes.js' %}"></script>
  <script src="{% static './lobibox/lib/jquery.1.11.min.js' %}"></script>
  <script src="{% static './lobibox/lib/jquery.1.11.js' %}"></script>
    <section class="content">

      
   	 <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">{{ Title}}</h3>
          <div class="box-tools pull-right">
            {% comment %}
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            {% endcomment %}
          </div>
        </div>
        <div style="padding: 5px; text-align: center;"><b>Connected:</b> <span id="meta_address">?</span></div>
        {% if messages %}
     {% for message in messages %}
     <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
       

         <form role="form" action="" method='post' enctype="multipart/form-data" novalidate ="novalidate">
             {% csrf_token %} 
             {{ form.media }}
      
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <input type="hidden" id="page_type" value="lottery">
              <input type="hidden" id="past_pools" value="{{past_pools}}">
              <input type="hidden" id="table__address" value="{{staticcontent_qs.id}}">

              
              
              <label for="exampleInputEmail1">End_date</label>
              <input type="date" name="end_block"  class="form-control" placeholder="{{start_Date|date:'Y-m-d'}}" required="" id="id_End_Block">
                {% for ind_form in form %}   
                <div class="form-group">
                  <label >{{ind_form.label}}
                    {% if ind_form|req_label  %} <span class="text-danger"> * </span>{% endif %}
                  </label>
                  {% if request.session.walletaddress == None %}
                  {%render_field ind_form class+="form-control" placeholder='0.0' readonly="" oninput="wallet_alert()" %}
                  {% else %}
                  {%render_field ind_form class+="form-control" placeholder='0.0' %}
                  {% endif %}
                    {% if ind_form.errors %}
                    {% for error in ind_form.errors %}
                     <span class="text-danger">* {{ error|escape }} </span>
                    {% endfor %}
                  {% endif %}
                   
                </div>
               {% endfor %} 
              
             
            </div>
           
            <div class="col-md-6">
             
           
            </div>
          </div>
         
         <div class="box-footer">
          {% if request.session.walletaddress != '' and request.session.walletaddress != None %}
              <button type="button" onclick="create_lottery()" class="btn btn-primary">Submit</button>
              {% else %}
              <button type="button" class="btn btn-primary" onclick="metamasklock()" 
              >
              Connect wallet
            </button>
                {% endif %}
              
                {% if request.session.walletaddress != '' and request.session.walletaddress != None%}
                &nbsp;&nbsp;
                <a onclick="back_lock_meta()" class="btn btn-primary">Back</a>
              {% else %}
              &nbsp;&nbsp;
              <a href="{% url Btn_url %}" class="btn btn-primary">Back</a>
                {% endif %}
                
         </div>
          </form>
  
      </div>
    </section>


 {% endblock Content_Area %}
{% block Java_Scripts %}
<script 
src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js" 
integrity="sha512-5erpERW8MxcHDF7Xea9eBQPiRtxbse70pFcaHJuOhdEBQeAxGQjUwgJbuBDWve+xP/u5IoJbKjyJk50qCnMD7A==" 
crossorigin="anonymous" 
referrerpolicy="no-referrer"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{% static 'admin_assets/js/Djacss.js' %}"></script>
 <script>
   $(document).ready(function () {

    var withdrawfees = $("#id_withdraw_fees").val();

    //alert(withdrawfees)
    if (withdrawfees == '0E-8'){
      
      $("#id_withdraw_fees").val(0)

    }

   });
 </script>
 <script>
   $(document).ready(function () {
   
    var maker_fees = $("#id_maker_fees").val();
    var referal_fees = $("#id_referal_fees").val();
    var min_amount = $("#id_min_amount").val();

    var min_deposit = $("#id_min_deposit").val();
    var max_deposit = $("#id_max_deposi").val();
    var min_withdraw = $("#id_min_withdraw").val();
    var max_withdraw = $("#id_max_withdraw").val();
    
    if (maker_fees == '0E-8'){
      $("#id_maker_fees").val(0.0)
    }
    if (referal_fees == '0E-8'){
      $("#id_referal_fees").val(0.0)
    }
    if (min_amount == '0E-8'){
      $("#id_min_amount").val(0.0)
    }
    if (min_deposit == '0E-8'){
      $("#id_min_deposit").val(0.0)
    }
    if (max_deposit == '0E-8'){
      $("#id_max_deposi").val(0.0)
    }

    if (min_withdraw == '0E-8'){
      $("#id_min_withdraw").val(0.0)
    }
    if (max_withdraw == '0E-8'){
      $("#id_max_withdraw").val(0.0)
    }
   });
 </script>




 {% endblock %}

