{% comment %}
<li>
          <a href="{% url 'trade_master:roadmaplist' %}">
            <i class="fa fa-road"></i> <span>Roadmap List</span>
          </a>
</li>

<li>
    <a href="{% url 'trade_master:currencylist' %}">
      <i class="fa fa-exchange"></i> <span>Token List</span>
    </a>
</li>
<li>
          <a href="{% url 'trade_master:cmspagecontentlist' %}">
            <i class="fa fa-file"></i> <span>CMS Management</span>
            <span class="pull-right-container">
              <!-- <i class="fa fa-angle-left pull-right"></i> -->
            </span>
         
          </a>

        </li>
<li>
      <a  href="{% url 'trade_master:faqlist' %}"><i class="fa fa-question-circle"></i> <span>Manage FAQ</span></a>
</li>





<li>
          <a href="{% url 'trade_master:emailcontactlist' %}">
            <i class="fa fa-envelope"></i> <span>Manage Email Template</span>
          </a>
 </li>

 

<li>
          <a href="{% url 'trade_admin_auth:blockiplist' %}">
            <i class="fa fa-server"></i> <span>Block IP</span>
          </a>
 </li>
{% endcomment %}
