{% load staticfiles %}

 <header class="masthead">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="header-content mx-auto">
                    <div class="line_yellow text-center mb-4"></div>
                     <h1 class="mt-5"> Ready-to-Customize Token Sale</h1>
                     <h1 class="">and ICO Solution</h1>
                     <P class="mt-4">How to sale tokens and start crowdfunding via <br>Initial Coin Offeting?</P>
                     <div class="row justify-content-center mb-5">
                        <div class="col-md-6">
                           <div class="well">
                              <div class="counter" id="clockdiv">
                                 <div class="sq">
                                    <div class="hhh d-flex flex-column">
                                       <span class="days bord">1
                                       </span>
                                       <div class="smalltext">Days</div>
                                    </div>
                                 </div>
                                 <div class="sq">
                                  <div class="hhh d-flex flex-column">
                                    <span class="hours bord">22</span> 
                                    <div class="smalltext">Hours</div>
                                  </div>
                                 </div>
                                 <div class="sq">
                                  <div class="hhh d-flex flex-column">
                                    <span class="minutes bord">40</span> 
                                    <div class="smalltext">Minites</div>
                                  </div>
                                 </div>
                                 <div class="sq">
                                  <div class="hhh d-flex flex-column">
                                    <span class="seconds bord">45</span> 
                                    <div class="smalltext">Seconds</div>
                                  </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div>
                     <a href="" class="btn btn-outline1 btn-xl hvr-float-shadow">Buy Token</a>
                     <a href="" class="btn btn-outline btn-xl ml-4 hvr-float-shadow"> <i class="fa fa-file-pdf"></i>Whitepaper</a>
                   </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <section class="how_works" id="feat">
         <div class="container">
            <div class="how_work">
               <div class="row">
                  <div class="container">
                     <div class="col-md-12">
                        <div class="row">
                           <div class="col-md-3">
                              <div class="how-hover">
                              <img src="{% static 'front_design/img/how1.png'%}" class="img-fluid">
                              <h3>ICO Campaigns</h3>
                              <p>Token Development and ICO Marketing.</p>
                           </div>
                        </div>
                           <div class="col-md-3">
                              <div class="how-hover">
                              <img src="{% static 'front_design/img/how2.png'%}" class="img-fluid">
                              <h3>Best Token Practices</h3>
                              <p>Token Development and ICO Marketing.</p>
                           </div>
                        </div>
                           <div class="col-md-3">
                              <div class="how-hover">
                              <img src="{% static 'front_design/img/how3.png'%}" class="img-fluid">
                              <h3>Unique Size of Market</h3>
                              <p>Token Development and ICO Marketing.</p>
                           </div>
                        </div>
                           <div class="col-md-3">
                              <div class="how-hover">
                              <img src="{% static 'front_design/img/how4.png'%}" class="img-fluid">
                              <h3>Operational platform</h3>
                              <p>Token Development and ICO Marketing.</p>
                           </div>
                        </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>