{% load staticfiles %}
<section class="about-footer">

         <div class="container">
         
            <div class="row">
               <div class="col-md-4 col-lg-3 col-xl-4 ftr-ul">
                  <h3>About us</h3>
                  <p>
                     Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore edolore magna aliquyam erat, sed diam voluptua. 
                  </p>
                  <p>At vero eos accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet is a legere explicari vis in scaevola reprimique eloquentiam at eos.</p>
               </div>
               <div class="col-md-4 col-lg-3 col-xl-2  ftr-ul">
                 <h3>Quick Link</h3>
                  <ul class="list_icon">
                    
                     <li>
                        <!-- <i class="fas fa-chevron-right"></i> -->
                        <a href="">
                           FAQ
                     </li>
                     <li><!-- <i class="fas fa-chevron-right"></i> --><a href="">Support</a></li>
                     <li><!-- <i class="fas fa-chevron-right"></i> --><a href="">Terms & Condition</a></li>
                     <li><!-- <i class="fas fa-chevron-right"></i> --><a href="">Privacy Policy</a></li>
                     <li><!-- <i class="fas fa-chevron-right"></i> --><a href="">Contact</a></li>
                  </ul>
               </div>
               <div class="col-md-4 col-lg-3 col-xl-3  ftr-ul">
                <h3>Subscribe</h3>
                  <ul class="list_icon">
                     
                     <li><a href="">Sign up for updates & news about 
                        the platform</a>
                     </li>
                     <li class="bor_rad_text mt-1">
                        <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                     </li>
                  </ul>
               </div>
               <div class="col-md-4 col-lg-3 col-xl-3  ftr-ul">
                 <h3>Contact info</h3>
                  <ul class="list_icon">
                    
                     <li><img src="{% static 'front_design/img/icon1.png'%}" class="img-fluid">+386 489 550 686</li>
                     <li><img src="{% static 'front_design/img/icon2.png'%}" class="img-fluid">example@name.com</li>
                  </ul>
                  <div class="social_media mt-3">



                    <div class="social-icons">
               <a href="" target="_blank" class="hvr-float-shadow" title="Facebook"><i class="fab fa-facebook-f"></i></a>
             
               <a href="" target="_blank" class="linked hvr-float-shadow" title="linked in"><i class="fab fa-linkedin-in"></i></a>
                 <a href="" target="_blank" class="twt hvr-float-shadow" title="Twitter"><i class="fab fa-twitter"></i></a>
             
              
            </div>
                    <!--  <ul>
                        <li><i class=""></i><img src="img/fb.png" class="img-fluid"></li>
                        <li><img src="img/lin.png" class="img-fluid"></li>
                         <li><img src="img/tw.png" class="img-fluid"></li>
                       
                     </ul> -->
                   
                  </div>
               </div>
            

             
         </div>

        </div> 
      </section>

    <section class="footer-bottom">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
               <div class="ft_p">
            <p>© 2019 Vernon.com All copy rights are reserved.</p>
         </div>
          </div>
             </div>
        </div> 
    </section>

    
