{% load staticfiles %}

<section class="investment">
   <div class="container">
       <h2>Use of Investments</h2>
            <p>We use token investments to develop real estate residential projects in mid Europe and invest into portfolio of biggest US companies from Dow Jones Industrial Average (DJIA). Combination results into risk perfectly balanced investment with possibility to bring profit around 12% p.a. </p>
       <div class="row justify-content-center mt-5">
          <div class="col-lg-8">
             <div class="invest-info text-center">
                <img src="{% static 'front_design/img/invest-info.png'%}" class="img-fluid">
             </div>  
          </div>  
       </div>  
   </div>
</section>
<section class="funds-sec">
   <div class="container">
       <h2>Use of Funds & Token allocation</h2>
            <p>Each contribution is used for new real estate acquisition or flows into DJIA. Our targeted approach is to reach following levels of distribution. We report quarterly our results and in case of profit, token holders will be rewarded through our token or BTC into their wallets on our project website.  Below are charts with investment distribution and token allocation. </p>
       <div class="row mt-4">
          <div class="col-lg-6">
               <div class="fund-chart-box">
                   <h4>Distribution %</h4>
                  <!--  <div id="pie-chart"></div> -->
                  <div class="pie-img mt-5">
   <img src="{% static 'front_design/img/chart-img.png'%}" class="img-fluid">
</div>
                   <div class="pie-chart-sec">
                      <ul>
                         <li><span class="blue-sec"></span> DJIA</li>
                         <li><span class="orange-sec"></span> Real Estate</li>
                      </ul>
                   </div>  
               </div>   
          </div>  
          <div class="col-lg-6">
              <div class="fund-chart-box">
                   <h4>VRT Total Supply</h4>
                   <div class="row mt-5">
                     <div class="col-lg-8">
                         <div class="pie-img mt-3">
   <img src="{% static 'front_design/img/pie-chart-img.png'%}" class="img-fluid">
</div>
                      </div> 
                       <div class="col-lg-4">
                           <div class="pie-chart-sec-1">
                      <ul>
                         <li><span class="red-sec"></span> Liquidity Pool</li>
                         <li><span class="green-sec"></span> Crowd Sale</li>
                         <li><span class="orange-sec-1"></span> Business Costs</li>
                      </ul>
                   </div> 
                      </div> 
                   </div>  

                
               </div> 
          </div>
       </div> 
       <div class="row mt-5">
          <div class="col-lg-12">
             <div class="text-center">
                     <a href="" class="btn btn-outline2 btn-xl hvr-float-shadow mr-3">
                      <img src="{% static 'front_design/img/downarrow.png' %}" class=""> WhitePaper</a>
                     <a href="" class="btn btn-outline2 btn-xl hvr-float-shadow">
                      <img src="{% static 'front_design/img/downarrow.png'%}" class=""> Presentation</a>
                   </div>
          </div>  
       </div> 
   </div>
</section>
      <section class="features" id="features">
         <div class="container">
            <div class="section-heading text-center">
               <p>Token Sale</p>
               <h2>Buy Our Tokens</h2>
            </div>
            <div class="">
               <div class="row">
                  <div class="col-lg-8">
                     <div class="">
                        <div class="device-mockup white">
                           <div class="row mt-5 no-gutters">
                              <div class="col-md-5">
                                 <div class="blk_bg">
                                    <h2>Start of ICO:</h2>
                                 </div>
                                 <div class="blk_bg mt-2">
                                    <h2>End of ICO:</h2>
                                 </div>
                                 <div class="blk_bg mt-2">
                                    <h2>ICO BETEX token price:</h2>
                                 </div>
                                 <div class="blk_bg mt-2">
                                    <h2>Max amount of tokens to be sold:</h2>
                                 </div>
                                 <div class="blk_bg mt-2">
                                    <h2>ICO hard cap:</h2>
                                 </div>
                                 <div class="blk_bg mt-2">
                                    <h2>Min purchase amount:</h2>
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <div class="blk_bg1">
                                    <h2>01.03.18 at 12:00 GMT</h2>

                                 </div>
                                 <div class="blk_bg1 mt-2">
                                    <h2>31.03.18 or 3,000,000 of BETEX tokens are sold out</h2>
                                 </div>
                                 <div class="blk_bg1 mt-2">
                                    <h2>$3.00</h2>
                                 </div>
                                 <div class="blk_bg1 mt-2">
                                    <h2>3,000,000 out of 10,000,000 (30%)</h2>
                                 </div>
                                 <div class="blk_bg1 mt-2">
                                    <h2>$ 9,000,000</h2>
                                 </div>
                                 <div class="blk_bg1 mt-2">
                                    <h2>0.5 ETH or 0.05 BTC</h2>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <div class="mt-5">
                           <img src="{% static 'front_design/img/garp.png'%}" class="img-fluid"> 
                           <span class="graph-rate">2,999,418 left <br>
582 sold</span>
                        </div>
                        <div class="mar_left mt-4">
                           <a href="#download" class="btn btn-outline1 btn-xl hvr-float-shadow" data-toggle="modal" data-target="#exampleModal">Buy Tokens</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
        
