<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Under Maintenance</title>
      <meta charset="utf-8">
      {% load static %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">      
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
  </head> 
  <body>
    <header>      
      <div class="container">
      
      </div>        
    </header>
    <div class="fzfBlock">
      <h1 class="text-center text-uppercase" style="text-align: center;">Under Maintenance</h1>
      <div class="text-center fzfImage">
        <img src="{% static 'front_design/images/maintance.gif' %}" alt="undermaintance" />        
      </div>
      <!-- <div class="text-center backToHome">
        Back to <a href="index.html">Home</a>
      </div> -->
    </div>
   
  </body>
</html>